<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Relative to the output folder: bin/Debug/net8.0/Source/MetaData.json -->
		<add key="TestConfigPath" value="Source/MetaData.json" />
		<add key="ReportCount" value="100000" />
		<add key="ExportPath" value="Export/MedLabReports.csv" />
		<add key="ExportPath1" value="Export/MedLabReports.csv" />
	</appSettings>
</configuration>
